<ion-header >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/lista"></ion-back-button>
    </ion-buttons>

    <!-- Agrega el título de la página si es necesario -->
    <ion-title>Información del cliente</ion-title>
    <!-- Agrega el botón de filtro en la esquina derecha -->
    
  </ion-toolbar>
</ion-header>
<ion-content color="danger">
  <!-- <div class="map-wrapper">
    <div #mapdiv class="map-container">
      
    </div>
  </div> -->
  <div class="map-title">
        <!-- Agrega los enlaces al CDN de Mapbox GL JS -->
<script src='https://api.mapbox.com/mapbox-gl-js/v3.1.2/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v3.1.2/mapbox-gl.css' rel='stylesheet' />

<!-- Contenedor para el mapa -->
<div id='map' style='width: 100%; height: 400px;'></div>

    <hr class="line-divider">
     <h3>Nombre: {{ cliente.RazonSocial }}</h3>
    <h3>Dirección: {{ cliente.Estado }}   {{ cliente.Poblacion }} {{ cliente.Colonia }} <br> {{ cliente.Domicilio }}</h3>
   
  </div>
  <ion-button (click)="mostrarRazonesNoEntrega()">Sin entrega</ion-button>

  <br>
  <ion-item color="danger">
    <ion-label position="floating" >Código</ion-label>
    <ion-input 
      name="codigo" 
      [(ngModel)]="scannedData.Descripcion" 
      type="text" 
      required
      (ionInput)="onSearchChange($event)"
      autocomplete="on"  
      
    ></ion-input>
  </ion-item>
  <ion-item color="danger">
    <ion-label position="floating">Kilogramos</ion-label>
    <ion-input
      name="kilogramos"
      [(ngModel)]="nuevosKilogramos"
      type="number"
      required
    ></ion-input>
  </ion-item>

  <ion-list *ngIf="filteredProducts.length > 0">
    <ion-item *ngFor="let item of filteredProducts" (click)="selectProduct(item)">
      {{ item.CodProd }} - {{ item.Descripcion }}
    </ion-item>
  </ion-list>
  <ion-button expand="full" color="danger" (click)="agregarVenta()">Agregar</ion-button>

  <div class="tabla-container">
    <ion-row class="header-row">
      <ion-col>ID</ion-col>
      <ion-col>Kg</ion-col>
      <ion-col>Precio</ion-col>
      <ion-col>Precio total</ion-col>
      <ion-col></ion-col>
    </ion-row>
    
    <ion-row *ngFor="let venta of ventas; let i = index" class="venta-row">
      <ion-col>{{ venta.id }}</ion-col>
      <ion-col>{{ venta.kg }}</ion-col>
      <ion-col>{{ venta.precio }}</ion-col>
      <ion-col>{{ venta.precioTotal }}</ion-col>
      <ion-col>
        <ion-button (click)="eliminarVenta(i)" color="danger" size="small">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  
    <ion-row class="total-row">
      <ion-col>Total: {{ totalPrecioTotal }}</ion-col>
    </ion-row>
  </div>
  <ion-button expand="full" (click)="realizarVenta()">Realizar Venta</ion-button>
</ion-content>
