<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>477617679300-7rsrc89pts3l46p7cij7ofg11kfvtsa3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.477617679300-7rsrc89pts3l46p7cij7ofg11kfvtsa3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>477617679300-0j2uq00d9rmnvs86r7opdl4oe1qp89lq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAkX8BD2jdI1eQ3NLJA62PgSdrJHgI0Kbk</string>
	<key>GCM_SENDER_ID</key>
	<string>477617679300</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mythemebox.ifs.admin</string>
	<key>PROJECT_ID</key>
	<string>ionic-food-delivery-single-mtb</string>
	<key>STORAGE_BUCKET</key>
	<string>ionic-food-delivery-single-mtb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:477617679300:ios:23097be334bc8de1a49291</string>
</dict>
</plist>