<ion-header>
  <ion-toolbar>
    <ion-title>Escáner de códigos QR </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Posicion {{ positionTitle }}</h1>
  <div id="container" *ngIf="isOpen == true" style="margin: 10%;">
    <ngx-scanner-qrcode #action="scanner" (data)="redirectOrder($event)"></ngx-scanner-qrcode>
    <button id="scan"(click)="action.toggleCamera()" [disabled]="action.isLoading" [hidden]="true">{{action.isStart ? 'Stop' : 'Start'}}</button>
  </div>
  <div *ngIf="isOpen == false" style="margin: 10%;">
    <p>Para iniciar el escáneo presiona el botón</p>
    <ion-button (click)="activeCamara()" color="primary" fill="solid" shape="round" size="default">
      Escánear
      <ion-icon name="camera-outline" style="margin-left: 5px;"></ion-icon>
    </ion-button>
  </div>

  <ion-button expand="full" (click)="toggleManualForm()" class="manual-button">
    Manual
  </ion-button>

  <!-- Formulario manual con clases condicionales -->
  <form
    *ngIf="showManualForm"
    (ngSubmit)="onSubmit(scannerForm)"
    #scannerForm="ngForm"
    class="manual-form"
    [ngClass]="{ active: showManualForm }"
  >
    <ion-item>
      <ion-label position="floating">Código</ion-label>
      <ion-input name="codigo" [(ngModel)]="scannedData.Codigo" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Lote</ion-label>
      <ion-input name="lote" [(ngModel)]="scannedData.Lote" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Fecha de Empaque</ion-label>
      <ion-input name="fechaEmpaque" [(ngModel)]="scannedData.FechaEmpaque" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Fecha de Caducidad</ion-label>
      <ion-input name="fechaCaducidad" [(ngModel)]="scannedData.FechaCaducidad" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Unidades</ion-label>
      <ion-input name="unidades" [(ngModel)]="scannedData.Unidades" required></ion-input>
    </ion-item>
    <ion-button expand="full" type="submit">Enviar </ion-button>
  </form>
</ion-content>
