select{
    background-color: white;
    color: #331212;
    border: 3px solid #820000;
    border-radius: 6px;
    width: 10%;
    height: 100%;
}

option{
    background-color: white;
    color: #331212;
    border-radius: 6px;
}