<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title color="secondary">Bandas</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <div class="custom-card-container">
      <ion-card class="custom-card">
        <ion-card-header class="custom-card-header">
          {{ positionTitle }} <br>
          {{ product?.Descripcion }}
        </ion-card-header>
        <ion-card-content class="custom-card-content">
          <p><strong>Código:</strong> {{ scannedData?.Codigo }}</p>
          <p><strong>Lote:</strong> {{ scannedData?.Lote }}</p>
          <p><strong>Fecha de Empaque:</strong> {{ scannedData?.FechaEmpaque }}</p>
          <p><strong>Fecha de Caducidad:</strong> {{ scannedData?.FechaCaducidad }}</p>
          <p><strong>Unidades:</strong> {{ scannedData?.Unidades }}</p> 
          <div *ngIf="product">
            <p><strong>Medida:</strong> {{ product?.Medida }}</p>
            <p><strong>Precio:</strong> {{ product?.Publico }}</p>
            <p><strong>Precio Total:</strong> {{ calculateTotalPrice() }}</p>
          </div>
          <p><strong>X:</strong> {{ xValue }}</p>
          <p><strong>Y:</strong> {{ yValue }}</p>
          <img [src]="product ? product.ImagenURL : ''" alt="Imagen del producto" class="product-image">
        </ion-card-content>
      </ion-card>
    </div>
      
      <ion-col style="display: flex; align-items: center; justify-content: center;">
        <ion-button expand="block" (click)="sendBandaData()">Añadir</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>


  <!-- <div *ngIf="order.key != undefined">
    <ion-list lines="none">
      <ion-item *ngIf="order.address != undefined">
        <ion-label>
          <h3>Direccion</h3>
          <p>{{order.address.address}}-{{order.address.pincode}} (Landmark: {{order.address.landmark}}</p>
        </ion-label>
        <ion-button slot="end" (click)="openMap()">Mapa</ion-button>
      </ion-item>
      <ion-item>
        
      </ion-item>
     
      <ion-item>
        <ion-label>
          Driver
        </ion-label>
        <select slot="end" [(ngModel)]="order.driverId" (change)="updateDriver(order.key, order.driverId)">
          <option *ngFor="let driver of drivers" value="{{driver.key}}">{{driver.name}}</option>
        </select>
      </ion-item>-->
      <!-- <ion-item-divider>
        <ion-label>Articulo</ion-label>
      </ion-item-divider> -->
      <!-- <ion-item *ngFor="let item of order.cart">
        <ion-checkbox slot="start"></ion-checkbox>
        <ion-label>
          <h3>{{item.Descripcion}} </h3>
          <p>{{item.Kgs | number : '1.2-2'}} kg</p>
        </ion-label>
        <ion-text slot="end">
          {{currency}}{{item.total*item.Kgs | number : '1.2-2'}} MXN
        </ion-text>
      </ion-item> -->
      <!--<ion-item>
        <ion-label>
          {{ 'TAX1' | translate }} - {{order.tax}} %
        </ion-label>
        <ion-text slot="end">
          {{currency}} {{order.taxPrice}}
        </ion-text>
      </ion-item>-->
      <!--<ion-item *ngIf="order.deliveryFee != 0">
        <ion-label>
          {{ 'DELIVERY_FEE' | translate }}
        </ion-label>
        <ion-text slot="end">
          {{currency}} {{order.deliveryFee}}
        </ion-text>
      </ion-item>-->
      
      
    <!-- </ion-list>
  </div> -->
  <!-- <ion-list>
    <ion-list-header lines="inset">
      <ion-label class="ion-text-bold">Informacion de la banda</ion-label>
    </ion-list-header>
    <ion-grid [class]="tableTheme">
      <ion-row [class]="tableHeader">
        <ion-col class="ion-text-bold"> Columna (X)</ion-col>
        <ion-col class="ion-text-bold"> Fila (Y)</ion-col>
        <ion-col class="ion-text-bold"> Posicion (Z)</ion-col>
        <ion-col class="ion-text-bold" style="text-align: center !important;">Borrar</ion-col>
      </ion-row>
      <ion-row *ngFor="let band of arrayBands; let i = index;">
        <ion-col>{{ band?.x }}</ion-col>
        <ion-col>{{ band?.y }}</ion-col>
        <ion-col>{{ band?.product }}</ion-col>
        <ion-col style="text-align: center;">
          <ion-icon name="trash-outline" style="font-size: larger; color: #DB2B36;" (click)="presentAlertConfirm(i)"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>  -->