/* create-users.page.scss */

ion-header {
    background-color: #dc3545; /* Color de fondo del encabezado */
  }
  
  ion-title {
    color: white; /* Color del texto del título */
  }
  
  ion-content {
    background-color: #f8d7da; /* Color de fondo del contenido */
  }
  
  form {
    max-width: 400px; /* Ancho máximo del formulario */
    margin: 0 auto; /* Centrar el formulario en la pantalla */
  }
  
  ion-item {
    margin-bottom: 15px; /* Espacio entre los elementos del formulario */
    display: block; /* Hace que cada ion-item ocupe una línea completa */
  }
  
  ion-label {
    font-weight: bold; /* Hacer que las etiquetas sean más destacadas */
  }
  
  ion-input,
  ion-select {
    border: 2px solid #dc3545; /* Borde de los campos de entrada y selección */
    border-radius: 5px; /* Esquinas redondeadas */
    padding: 8px; /* Espaciado interno */
    width: 100%; /* Ancho completo */
  }
  
  ion-button {
    width: 100%; /* Ancho completo para el botón */
    margin-top: 15px; /* Espacio superior del botón */
  }

  
  p{
    text-align: center;
    font-size: 40px;
  }